<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lung Cancer Prediction</title>
</head>
<body>
    <form action="/" method="post">
        GENDER:
        <input type="text" name="Gender" id="GENDER"><br><br>
        AGE:
        <input type="text" name="AGE" id="AGE"><br><br>
        SMOKING:
        <input type="text" name="SMOKING" id="SMOKING"><br><br>
        YELLOW_FINGERS:
        <input type="text" name="YELLOW_FINGERS" id="YELLOW_FINGERS"><br><br>
        ANXIETY:
        <input type="text" name="ANXIETY" id="ANXIETY"><br><br>
        PEER_PRESSURE:
        <input type="text" name="PEER_PRESSURE" id="PEER_PRESSURE"><br><br>
        CHRONIC_DISEASE:
        <input type="text" name="CHRONIC DISEASE" id="CHRONIC_DISEASE"><br><br>
        FATIGUE:
        <input type="text" name="FATIGUE" id="FATIGUE"><br><br>
        ALLERGY:
        <input type="text" name="ALLERGY" id="ALLERGY"><br><br>
        WHEEZING:
        <input type="text" name="WHEEZING" id="WHEEZING"><br><br>
        ALCOHOL_CONSUMING:
        <input type="text" name="ALCOHOL_CONSUMING" id="ALCOHOL_CONSUMING"><br><br>
        COUGHING:
        <input type="text" name="COUGHING" id="COUGHING"><br><br>
        SHORTNESS_OF_BREATH:
        <input type="text" name="SHORTNESS_OF_BREATH" id="SHORTNESS_OF_BREATH"><br><br>
        SWALLOWING_DIFFICULTY:
        <input type="text" name="SWALLOWING_DIFFICULTY" id="SWALLOWING_DIFFICULTY"><br><br>
        CHEST_PAIN:
        <input type="text" name="CHEST_PAIN" id="CHEST_PAIN"><br><br>

        <input type="submit" value="Submit">
    </form>
    <h1>Result:{{prediction}}</h1>
</body>
</html>